*{
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}
#Top{
    height: 1100px; 
}
#Top hr{
    width: 1440px;
}
.logo h1{
    margin: 30px 80px;
    font-weight: bold;
    font-size: 50px;
    color: rgba(5,57,193,255);
}
#Nav{
    margin: 30px 80px;
    display: flex;
    width: 1280px;
}
nav ul{
    list-style: none;
    display: flex; /* Display list items as a horizontal row */
}
nav ul li{
    margin-right: 24px;
    height: 16px;
}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
}
nav ul li:first-child a{
    color: rgba(5,57,193,255);
}
.Fall_Cutlery{
    background-image: url('https://csci571.com/hw/hw3/images/Cutlery.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Set the background attachment to fixed */
    margin: 30px 80px;
    width: 1280px;
    height: 800px;
    /* padding percentage is calculated based on the width of the containing block, to create a "virtual" height for the element based on its width */
    /* padding-bottom: 20%; */
    display: flex;
    flex-direction: column;
}
.Fall_Cutlery h2{
    margin: 60px 60px;
    font-size: 80px;
    color: rgba(5,57,193,255);
    font-weight: bolder;
}
.common_btn{
    width: 150px; /* Adjust the width as needed */
    height: 80px;
    margin: 60px 60px;
    background: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}
/* Bottom */
#Bottom{
    margin: 0 80px;
    text-align: center;
    width: 1280px;
}
.bottom_heading h1{
    font-size: 35px;
    font-weight: 800;
    color: rgba(5,57,193,255);
    margin-bottom: 60px;
}
.bottom_container{
    display: grid;
    /* 1fr: "fraction of available space." to distribute the available space equally  */
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 110px; 
}
.bottom_item{
    text-align: center;
}
.bottom_item img{
    max-width: 100%;
    height: auto; 
}
.bottom_item h2{
    padding: 60px 0;
    font-size: 20px;
    font-weight: bolder;
    color: rgba(5,57,193,255);
}
