.no-underline-link {
    text-decoration: none; /* Remove the underline by default */
    color: rgba(109, 153, 154, 255); /* Text color */
  }
.no-underline-link:hover {
  text-decoration: underline; /* Add underline on hover */
}
@media (max-width: 432px){
    .mobile-detail-table-linebreak{
        width: 100% !important;
        display: block !important;
        white-space: nowrap !important; 
        /* flex-wrap: wrap !important;
        flex-direction: column !important;    */
    }
}